body{
  padding: 0;
  margin: 0;  
}
*{
  box-sizing: border-box;
}
.header{
  text-align: center;
  background-color: rgba(3, 59, 61, 0.973);
  color: white;
  padding: 10px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.info{
  padding: 10px 30px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  height: auto;
}
.txt{
  background-color: rgb(204, 200, 200);
  padding: 8px;
  border: none;
  border-radius: 2px;
  width: 250px;
}
.txt:focus{
  outline: none;
}
.search-btn{
  background-color: rgb(54, 166, 170);
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.text{
  display: flex;
  justify-content: space-between;
}
.more-btn{
  background-color: rgba(3, 59, 61, 0.973);
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}